<html>
	<head>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
				font-family: sans-serif;
			}
			header{
				font-size: 40px;
				background: rgb(225,10,10);
				color: white;
				line-height: 50px;
				padding: 10px;
				margin-bottom: 10px;
			}

			table tr td,th{
				width: 250px;
				border: 1px solid black;
				margin: 10px;
				padding: 10px;
			}

			table tr .id_column{
				width: 50px;
				text-align: center;
			}

			table tr td.link{
				width: 50px;	
				text-align: center;
			}

			a{
				font-style: none;
				color: rgb(200,100,0)			
			}


		</style>
	</head>
	<body>
		<header>
			Welcome to Ruby on Rails!
		</header>

		<table>
			<tr>
				<th class="id_column">ID</th>
				<th>Title</th>
				<th>Text</th>
			</tr>
			<% @welcome.each do |disp| %>
			<tr>
				<td class="id_column"><%= disp.id%></td>
				<td><%= disp.title%></td>
				<td><%= disp.text%></td>
				<td class="link"><%=link_to 'Show', disp%></td>
				<td class="link"><%=link_to 'Edit', edit_welcome_path(disp)%></td>
				<td class="link"><%=link_to 'Destroy', disp, method: :delete, data:{confirm: 'Are you sure?'}%></td>
			</tr>
			<%end%>
		</table>
		<%=link_to 'New', new_welcome_path%>

	</body>
</html>
