<html>
	<head>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
				font-family: sans-serif;			
			}
		</style>	
	</head>
	<body>
		<header>Welcome to my world!</header>
		<%= form_with(model:@welcome) do |f| %>
 			<p>
    				<%= f.label :title %><br>
    				<%= f.text_field :title %>
  			</p>
 		
 			<p>
    				<%= f.label :text %><br>
    				<%= f.text_area :text %>
  			</p>
 
  			<p>
    				<%= f.submit %>
  			</p>
		<% end %>
		
	</body>
</html>
