<html>
	<head>
		<style type="text/css">
			*{
				margin: 0px;
				padding: 0px;
				font-family: sans-serif
			}
			header{
				font-size: 40px;
				background: rgb(225,10,10);
				color: white;
				line-height: 50px;
				padding: 10px;
				margin-bottom: 10px;
			}
			h3{
				margin: 10px;
			}
			p{
				margin: 10px;			
			}
		</style>	
	</head>
	<body>
		<header>Show</header>		
		<h3><%=@welcome.title%></h3>
		<hr />		
		<p><%=@welcome.text%></p>
	</body>
</html>
