<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @persona.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @persona.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @persona.age %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @persona.birthday %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @persona.nickname %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
